.section-categories{
    padding: 10px;
    display: flex;
    margin: 10px 5px;
    margin-bottom: 0;
    align-items: center;
    flex-wrap: wrap;
}
.order{
    display: block;
    width: 130px;
}
.btn-orden {
    background-color: var(--first-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-orden:hover {
    background-color: var(--second-color);
  }
.opciones-orden{
    background-color: rgb(199, 206, 211);
    position: absolute;
    width: 130px;
}
.opcion-orden-{
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700px;
}
li{
    list-style: none;
}
.confesiones_total{
    font-size: 20px;
    font-weight: bold;
}