@media screen and (max-width: 516px){
    .img-post{
        width: 80%;
    }
    .button-reaction{
        padding: 5px 15px;
        font-size: 14;
    }
    #prev, #next{
        font-size: 13px;
        padding: 7px 17px;
    }
}
@media screen and (max-width: 332px){
    .button-reaction{
        padding: 3px 12px;
        font-size: 12;
    }
}
@media screen and (max-width: 584px){
    .input-form{
        width: 100%;
    }
    .img-container{
        width: 50%;
    }
}
